# Virtual Environments
venv/
mask_venv/
env/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Models and Large Files (optional but recommended for git)
# dataset/
# src/best_model.h5
# advanced_face_detector/*.caffemodel

# IDEs and Editors
.vscode/
.idea/
.opencode/
